@model CakeShop.Data.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin nhân viên</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HoTen)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HoTen)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MatKhau)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MatKhau)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaNv" class="btn bnt-warning">Edit</a> |
    <a asp-action="Index" class="btn bnt-info">Back to List</a>
</div>
