@model IEnumerable<CakeShop.Data.NhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách nhân viên</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-info">Thêm mới nhân viên</a>
</p>
<table class="table">
    <thead class="table-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }

        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-info";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaNv" class="btn btn-warning">Cập nhật</a> |
                    <a asp-action="Details" asp-route-id="@item.MaNv" class="btn btn-info">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaNv" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
