@model CakeShop.Data.PhanCong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin phân công</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NgayPc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NgayPc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HieuLuc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HieuLuc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MaNvNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MaNvNavigation.MaNv)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MaPbNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MaPbNavigation.MaPb)
                        </dd>
                    </dl>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaPc" class="btn bnt-warning">Edit</a> |
    <a asp-action="Index" class="btn bnt-info">Back to List</a>
</div>
