@model IPagedList<CakeShop.Data.HoaDon>
@using X.PagedList
@{
    ViewData["Title"] = "History Bill";
}
<div class="checkout_area d-flex justify-content-center align-items-center">
    <div class="container-fluid py-5 mx-md-5">
        <h1 class="mb-4">Lịch sử đơn hàng</h1>
        <div class="row g-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Mã khách hàng
                        </th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Điện thoại
                        </th>
                        <th>
                            Ngày đặt hàng
                        </th>
                        <th>
                            Ngày giao
                        </th>
                        <th>
                            Hình thức vận chuyển
                        </th>
                        <th>
                            Phí vận chuyển
                        </th>
                        <th>
                            Hình thức thanh toán
                        </th>
                        <th>
                            Ghi chú
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaKh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayDat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayCan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CachVanChuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhiVanChuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CachThanhToan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-content-center">
    <div class="row">
        <nav aria-label="navigation">
            <ul class="pagination mt-50 mb-70">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("HistoryBill", new { page = Model.PageNumber - 1 })">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                }
                @for (int a = 1; a <= Model.PageCount; a++)
                {
                    <li class="page-item @(Model.PageNumber == a ? "active" : "")">
                        <a class="page-link" href="@Url.Action("HistoryBill", new { page = a })">@a</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("HistoryBill", new { page = Model.PageNumber + 1 })">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>