@model CakeShop.Data.PhongBan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết phòng ban</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaPb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaPb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThongTin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThongTin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaPb" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
